<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monster_bar_style"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="player_bar_style"></div>
        </div>
      </section>
      <section class="container" v-if="winner !== null">
        <h2> Game over </h2>
        <h3 v-if="winner === 'monster'"> you lost</h3>
        <h3 v-else-if="winner === 'player'">You won</h3>
        <h3 v-else>It's a draw!</h3>
        <button @click="new_game()"> New game </button>
      </section>
      <section id="controls" v-else>
        <button @click="attack_monster">ATTACK</button>
        <button :disabled="check_round_special_attack_monster" @click="special_attack_monster">SPECIAL ATTACK</button>
        <button @click="heal_player">HEAL</button>
        <button @click="surrender()">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for= "log_message in log_messages">
            <span 
            :class="{'log--player' : log_message.action_by === 'player', 'log--monster' : log_message.action_by === 'monster'}"
            >
            {{ log_message.action_by === 'player' ? 'Player ' : 'Monster ' }}
            </span>
            <span v-if="log_message.action_type === 'attack' || log_message.action_type === 'special-attack'">
              attacks <span class="log--damage"> {{ log_message.action_value }} </span>
            </span>
            <span v-else>
              heals himself for <span class="log--heal"> {{ log_message.action_value }} </span>
            </span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
